@tailwind utilities;
@import "tailwindcss/preflight";
@import "tailwindcss";
@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    }
    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@theme {
    --color-regal-blue: #243c5a;
    --color-off-off-white: #F2E7D5;
    --color-light-green-custom: #6D9886;
    --color-black-custom: #212121;
}